@charset "utf-8";

body{
    max-width: 750px;
    height: 3000px;
    background-image: url(../img/back.gif);
    font-size: 15px;
}

img{
    width: 100px;
    height: 100px;
    opacity: 50%;
}

p{
    max-width: 750px;
}

iframe{
    display: none;
}